//first-screen

section.first-screen
    .container
        h2 Установка Webim
        p.first-screen__text Установка онлайн-консультанта Webim на ваш сайт не займет много времени. Вы можете установить онлайн-консультант Webim на ваш сайт и протестировать его в течение 7 дней бесплатно.
        .first-screen-buttons
            button.btn.btn_aqua Попробовать бесплатно
            a(href="#").btn.btn_transparent Тарифы