//first-screen

.first-screen{
  padding: 30px 0;
  background-color: #eff4f4;
  @include mq('750'){
    padding: 60px 0;
  }
}

.first-screen__text{
  margin-top: 20px;
  font-size: 14px;
  color: #74757b;
  max-width: 90%;
  @include mq('750'){
    margin-top: 50px;
    font-size: 26px;
  }
  @include mq('1680'){
    margin-top: 40px;
    font-size: 16px;
    max-width: 41%;
    line-height: 24px;
  }
}

.first-screen-buttons{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .btn{
    &:last-child{
      margin-top: 15px;
      @include mq('750'){
        margin-top: 30px;
      }
      @include mq('1680'){
        margin-top: 0;
      }
    }
  }
  @include mq('750'){
    margin-top: 80px;
  }
  @include mq('1680'){
    margin-top: 50px;
    flex-direction: row;
  }
  .btn{
    @include mq('1680'){
      &:first-child{
        margin-right: 20px;
      }
    }
  }
}
