//install
.install{
  padding: 40px 0;
  @include mq('750'){
    padding: 60px 0;
  }
}

.install__text{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  color: #74757b;
  @include mq('750'){
    margin-bottom: 60px;
  }
  @include mq('1024'){
    font-size: 16px;
    letter-spacing: 0.4px;
  }
}

.install__item{
  padding-left: 20px;
  width: 50%;
  @include mq('1024'){
    width: auto;
    min-width: 300px;
  }
}

.install__icon{
  position: relative;
  z-index: 3;
  span{
    position: absolute;
    left: -24px;
    top: -23px;
    font-size: 70px;
    opacity: .15;
    color: #393e6b;
    z-index: 1;
    font-weight: 700;
    @include mq('750'){
      font-size: 150px;
      left: -49px;
      top: -66px;
    }
    @include mq('1024'){
      top: -74px;
    }
  }
}

.install__link{
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  color: #0da088;
  letter-spacing: 0.65px;
  text-decoration: underline;
  @include mq('750'){
    margin-top: 20px;
    width: 50%;
    font-size: 26px;
  }
  @include mq('1024'){
    font-size: 18px;
  }
}

.install__items{
  display: flex;
}

.icon.icon-01,
.icon-02{
  width: 41px;
  height: 39px;
  @include mq('750'){
    width: 72px;
    height: 72px;
  }
  @include mq('1024'){
    width: 50px;
  }
}