//install-code
.install-code{
  padding: 30px 0;
  background-color: #eff4f4;
  @include mq('750'){
    padding: 60px 0;
  }
  @include mq('1024'){
    padding: 70px 0;
  }
}

.install-code__article{
  margin-top: 20px;
  padding-left: 20px;
  @include mq('1024'){
    margin-top: 50px;
  }
}

.install-code__link{
  position: relative;
  font-size: 16px;
  color: #0da088;
  text-decoration: underline;
  &:before{
    content: '';
    position: absolute;
    left: -20px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3b4269;
  }
  @include mq('1024'){
    font-size: 24px;
  }
}

.install-code__text{
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 0.6px;
  color: #74757b;
  span{
    font-weight: 700;
  }
  @include mq('1024'){
    font-size: 16px;
  }
}