//socials
.socials{
  padding: 30px 0;
  @include mq('750'){
    padding: 60px 0;
  }
}

.socials__text{
  font-size: 14px;
  color: #393e6b;
  @include mq('750'){
    font-size: 24px;
  }
  @include mq('1024'){
    font-size: 18px;
  }
  @include mq('1680'){
    max-width: 61%;
  }
}

.social__links{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  @include mq('1024'){
    flex-direction: row;
    justify-content: space-between;
  }
  @include mq('1680'){
    justify-content: normal;
    margin-top: 60px;
  }
}

.social__column{
  display: flex;
  flex-direction: column;
  &:not(:first-child){
    margin-top: 20px;
    @include mq('1024'){
      margin: 0;
    }
  }
  @include mq('1680'){
    width: 33%;
  }
}

.social__link{
  display: flex;
  align-items: center;
  &:not(:first-child){
    margin-top: 20px;
  }
  .icon{
    width: 40px;
    height: 40px;
    @include mq('750'){
      width: 67px;
      height: 67px;
    }
    @include mq('1024'){
      width: 40px;
      height: 40px;
    }
  }
  a{
    margin-left: 20px;
    font-size: 14px;
    color: #0da088;
    text-decoration: underline;
    @include mq('750'){
      margin-left: 40px;
      font-size: 24px;
    }
    @include mq('1024'){
      margin-left: 25px;
      font-size: 18px;
    }
  }
  @include mq('1024'){
    &:not(:first-child){
      margin-top: 35px;
    }
  }
}