//steps
.steps{
  padding: 30px 0;
  background-color: #eff4f4;
  @include mq('750'){
    padding: 60px 0;
  }
}

.steps-items{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.steps__item{
  margin-top: 20px;
  display: flex;
  align-items: center;
  min-height: 60px;
  @include mq('750'){
    margin-top: 40px;
  }
}

.steps__icon{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: #2cd3b8;
  border-radius: 50%;
  .icon{
    font-size: 20px;
    @include mq('750'){
      font-size: 26px;
    }
  }
  @include mq('750'){
    margin-right: 40px;
  }
  @include mq('1024'){
    width: 74px;
    height: 74px;
  }
}

.steps__text{
  font-size: 14px;
  font-weight: 700;
  span{
    padding-left: 5px;
    font-weight: 400;
  }
}


.steps__text{
  @include mq('750'){
    font-size: 24px;
  }
}

.steps__buttons{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  .btn{
    &:last-child{
      margin-top: 15px;
      @include mq('1024'){
        margin: 0 0 0 20px;
      }
    }
  }
  @include mq('750'){
    margin-top: 80px;
  }
  @include mq('1024'){
    flex-direction: row;
  }
}