//install
section.install
    .container
        h2(data-aos="fade-up-right") Простая установка
        p.install__text Установка онлайн-консультанта Webim не займет более 15 минут
        .install__items
            .install__item
                .install__icon
                    +icon('01')
                    span 1
                a(href="#").install__link Регистрация
            .install__item
                .install__icon
                    +icon('02')
                    span 2
                a(href="#").install__link Установка HTML-кода




