//install-code
section.install-code
    .container
        h2(data-aos="fade-up-right") Установка html-кода
        .install-code__article
            a(href="#").install-code__link Установка HTML-кода Webim для сайтов на Joomla
            p.install-code__text Документация по внедрению сервиса Webim на сайтах, построенных на базе 
                |
                span CMS Joomla.
        .install-code__article
            a(href="#").install-code__link Установка HTML-кода Webim для сайтов на Wordrpess
            p.install-code__text Документация по внедрению сервиса Webim на сайтах, построенных на базе
                |
                span Wordrpess.
        .install-code__article
            a(href="#").install-code__link Установка HTML-кода Webim для сайтов на uCoz.ru
            p.install-code__text Документация по внедрению сервиса Webim на сайтах, построенных на базе 
                |
                span uCoz.ru.
        .install-code__article
            a(href="#").install-code__link Установка HTML-кода Webim для сайтов на webasyst.ru
            p.install-code__text Документация по внедрению сервиса Webim на сайтах, построенных на базе webasyst.ru.
        .install-code__article
            a(href="#").install-code__link Установка HTML-кода Webim для любого сайта
            p.install-code__text Документация по внедрению сервиса Webim vна сайтах с другой CMS или написанных вручную.