//install-app
section.install-app
    .container
        h2(data-aos="fade-up-right") Установка приложения для операторов Webim Dashboard
        p.install-code__text Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard
        .install-code__article
            a(href="#").install-code__link Установка приложения Webim Dashboard для iPhone
            p.install-code__text  
                | Документация по установке дополнительного программного обеспечения для операторов 
                span сервиса Webim
                | , использующих iPhone/iPad/etc от компании Apple.
        .install-code__article
            a(href="#").install-code__link Установка приложения Webim Dashboard для Android
            p.install-code__text  
                | Документация по установке дополнительного программного обеспечения для операторов 
                span сервиса Webim
                | , использующих платформу Google Android.
        .install-code__article
            a(href="#").install-code__link Установка приложения Webim Dashboard для Ubuntu
            p.install-code__text  
                | Документация по установке дополнительного программного обеспечения для операторов 
                span сервиса Webim
                | , использующих платформу Ubuntu.
        .install-code__article
            a(href="#").install-code__link Установка приложения Webim Dashboard для ОС Microsoft Windows.
            p.install-code__text  
                | Документация по установке дополнительного программного обеспечения для операторов 
                span сервиса Webim
                | , под ОС Microsoft Windows.
        .install-code__article
            a(href="#").install-code__link Установка приложения Webim Dashboard для Mac OS
            p.install-code__text  
                | Документация по установке дополнительного программного обеспечения для операторов 
                span сервиса Webim
                | , под Mac OS.