//socials
section.socials
    .container
        .socials__text
            | Webim – это не только онлайн-консультант. Интегрируйте и другие каналы, чтобы клиенты могли обращаться к вам любым удобным способом
        .social__links
            .social__column
                .social__link
                    +icon('social-1')
                    a(href="#") Социальные сети
                .social__link
                    +icon('social-2')
                    a(href="#") Мессенджеры
                .social__link
                    +icon('social-3')
                    a(href="#") Чат-боты
            .social__column
                .social__link
                    +icon('social-4')
                    a(href="#") Форма обратной связи
                .social__link
                    +icon('social-5')
                    a(href="#") Яндекс.Диалоги
            .social__column
                .social__link
                    +icon('social-6')
                    a(href="#") Чат в вашем мобильном приложении
                .social__link
                    +icon('social-7')
                    a(href="#") Электронная почта