//steps
section.steps
    .container
        h2(data-aos="fade-up-right") Что вас ждет после установки?
        p.install-code__text Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет
        .steps-items
            .steps__item
                .steps__icon
                    +icon('icon-step1')
                p.steps__text
                    | Шаг 1.
                    span Создание учетной записи компании и администратора
            .steps__item
                .steps__icon
                    +icon('icon-step2')
                p.steps__text
                    | Шаг 2.
                    span Активация учетной записи
            .steps__item
                .steps__icon
                    +icon('icon-step3')
                p.steps__text
                    | Шаг 3.
                    span Начальная настройка
            .steps__item
                .steps__icon
                    +icon('icon-step4')
                p.steps__text
                    | Шаг 4.
                    span Установка кнопки Webim на сайт
            .steps__item
                .steps__icon
                    +icon('icon-step5')
                p.steps__text
                    | Шаг 5.
                    span Регистрация оператора
            .steps__item
                .steps__icon
                    +icon('icon-step6')
                p.steps__text
                    | Шаг 6.
                    span Тест сервиса
        .steps__buttons
            a.btn.btn_aqua Все возможности Webim
            button.btn.btn_blue Протестировать бесплатно