//footer
.footer{
  padding: 30px 0;
  background: #393f6b;
  .container{
    max-width: 1640px;
  }
  @include mq('1680'){
    padding: 60px 0;
  }
}

.footer-inner{
  display: flex;
  flex-direction: row;
  @include mq('1024'){
    justify-content: space-between;
  }
  @include mq('1680'){
    justify-content: normal;
  }
}

.footer__rights{
  width: 100%;
  text-align: center;
  @include mq('1024'){
    width: auto;
    text-align: start;
  }
}

.footer__text{
  color:#a1a4b9;
  font-size: 12px;
}

.footer__contacts{
  display: none;
  @include mq('1024'){
    display: flex;
    flex-direction: column;
    a{
      color:#f3f5ed;
      &:first-child{
        font-size: 18px;
      }
      &:not(:first-child){
        margin-top: 15px;
      }
    }
  }
  @include mq('1680'){
    margin-left: 11%;
  }
  p{
    color:#92a7bf;
    font-size: 14px;
  }
}

.footer__socials{
  display: none;
  @include mq('1024'){
    display: flex;
    flex-direction: column;
    a{
      color:#f3f5ed;
      margin-bottom: 10px;
    }
    p{
      color:#92a7bf;
    }
  }
  @include mq('1680'){
    margin-left: auto;
  }
}

