//header

.header{
  display: flex;
  min-height: 100px;
  box-shadow: 0px 9px 7px -2px rgba(218,228,242,1);
  .container{
    display: flex;
    align-items: center;
    max-width: 1640px;
  }
  @include mq('750'){
    min-height: 180px;
  }
  @include mq('1024'){
    min-height: 100px;
  }
}

.header__logo{
  display: flex;
  margin: auto;
  width: 140px;
  height: 57px;
  background: url("../img/logo.svg") no-repeat center;
  background-size: contain;
  @include mq('750'){
    width: 229px;
  }
  @include mq('1680'){
    width: 115px;
  }
}

//burger

.btn-burger{
  position: absolute;
  width: 50px;
  height: 36px;
  opacity: 1;
  cursor: pointer;
  border:none;
  background: transparent;
  outline:none;
  @include mq('1680'){
    display: none;
  }
}
.top{
  transition: all ease-in-out .3s;
  position: absolute;
  top: 0;
  left: 0;
  background: #3fd6bc;
  height: 6px;
  width: 50px;
  opacity: 1;
  &:after{
    content:'';
    position: absolute;
    top: 13px;
    left: 0;
    height: 6px;
    width: 50px;
    background: #3fd6bc;
  }
}
.bot{
  transition: all ease-in-out .3s;
  position: absolute;
  top: 27px;
  left: 0;
  background: #3fd6bc;
  height: 6px;
  width: 50px;
  opacity: 1;
}

//nav

.header-nav{
  display: none;
  @include mq('1680'){
    display: block;
    width: 100%;
  }
}

.header-nav-list{
  display: none;
  @include mq('1680'){
    display: flex;
    li{
        margin-right: 30px;
      &:nth-child(2){
        margin-right: auto;
      }
      a{
        color:#6c7186;
        text-transform: uppercase;
      }
    }
  }
}