//footer
footer.footer
    .container
        .footer-inner
            .footer__rights
                p.footer__text
                    | Webim 2008-2017
                    br
                    | Все права защищены
            .footer__contacts
                a(href="tel:+78005004932") +7(800)500-49-32
                a(href="tel:+74993223754") +7(499)322-37-54
                p
                    | Москва, Серебряническая набережная, 29
                a(href="tel:+78123855337") +7(812)385-53-37
                p
                    | Санкт-Петербург, Чкаловский проспект, 15

            .footer__socials
                a(href="mailto:contacta@webim.ru") contact@webim.ru
                a(href="mailto:sales@webim.ru") sales@webim.ru
                p
                    | понедельник-пятница с 10.00 - 18.00