//header
header.header
    .container
        button.btn-burger
            span.top
            span.bot
        nav.header-nav
            ul.header-nav-list
                li
                    a(href="#") Вход
                li
                    a(href="#") Регистрация
                li
                    a(href="#") Возможности
                li
                    a(href="#") Тарифы
                li
                    a(href="#") Партнерам
                li
                    a(href="#") Помощь
        a.header__logo(href="./")
