h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #393e6b;
  @include mq('750'){
    font-size: 30px;
  }
  @include mq('1680'){
    font-size: 36px;
  }
}