$font-family-main: 'Ubuntu', sans-serif,;
//SIZE
$font-size-main: 16px;
$font-size-h1: 40px;
//COLORS
$black: #000;
$white: #fff;

$breakpoints: ("320": 320px, "750": 750px, "1024": 1024px, "1280": 1280px, "1440": 1440px, "1680": 1680px);
//width container
$max-width: 1200px;