.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-01 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-02 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-arrow-right {
	font-size:(16/10)*1rem;
	width:(22/16)*1em;
}
.icon-chatbots {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-email {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-icon-step1 {
	font-size:(36/10)*1rem;
	width:(49/36)*1em;
}
.icon-icon-step2 {
	font-size:(32/10)*1rem;
	width:(41/32)*1em;
}
.icon-icon-step3 {
	font-size:(51/10)*1rem;
	width:(50/51)*1em;
}
.icon-icon-step4 {
	font-size:(36/10)*1rem;
	width:(56/36)*1em;
}
.icon-icon-step5 {
	font-size:(52/10)*1rem;
	width:(45/52)*1em;
}
.icon-icon-step6 {
	font-size:(41/10)*1rem;
	width:(45/41)*1em;
}
.icon-logo {
	font-size:(57/10)*1rem;
	width:(229/57)*1em;
}
.icon-social-1 {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-social-2 {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
.icon-social-3 {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
.icon-social-4 {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
.icon-social-5 {
	font-size:(67/10)*1rem;
	width:(62/67)*1em;
}
.icon-social-6 {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
.icon-social-7 {
	font-size:(67/10)*1rem;
	width:(67/67)*1em;
}
