.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.75px;
  min-width: 256px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  transition: .3s;
  text-transform: uppercase;
  cursor: pointer;
  @include mq('750'){
    height: 90px;
    font-size: 24px;
  }
  @include mq('1024'){
    max-width: 276px;
    height: 48px;
    font-size: 14px;
    letter-spacing: 0;
  }
}

.btn_aqua{
  color:#fff;
  background-color: #2cd3b8;
}

.btn_blue{
  color: #fff;
  background-color: #3b4269;
}

.btn_transparent{
  color: #393e6b;
  background: transparent;
  border: 2px solid #393e6b;
}

