.container {
  position: relative;
  width: 100%;
  max-width: $max-width;
  padding: 0 20px;
  margin: auto; 

  @include mq('750') {
    padding: 0 66px;
  }
  
  @include mq('1024') {
    padding: 0 40px;
  }

  @include mq('1280') {
    padding: 0 60px;
  }

  @include mq('1680') {
    padding: 0 70px;
  }
}

